.main-scene {
    -fx-background-image: url("../images/Juice.png");
}

.form-container {
    -fx-padding: 30 20 30 20;
    -fx-pref-height: 400;
    -fx-pref-width: 300;
    -fx-background-color: #fafafa;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(16, 185, 129, 0.3), 15, 0, 0, 2);
}

.login-title {
    -fx-font-size: 30;
    -fx-font-family: "Poppins", "Segoe UI", "DejaVu Sans", sans-serif;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.field-label {
    -fx-font-size: 14;
    -fx-font-family: "Poppins", "Segoe UI", "DejaVu Sans", sans-serif;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 25;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 25;
    -fx-prompt-text-fill: #999999;
}

.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
    -fx-min-width: 125px;
    -fx-min-height: 45px;
    -fx-pref-width: 125px;
    -fx-pref-height: 45px;
    -fx-font-size: 15px;
}

.button {
    -fx-background-color: linear-gradient(to bottom right,
            #10b981 0%,
            #059669 100%);
    -fx-effect: dropshadow(gaussian, rgba(16, 185, 129, 0.3), 10, 0, 0, 4);
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom right,
            #059669 0%,
            #047857 100%);
    -fx-effect: dropshadow(gaussian, rgba(16, 185, 129, 0.6), 10, 0, 0, 4);
    -fx-font-weight: bold;
}

.button:pressed {
    -fx-translate-y: 2;
    -fx-min-width: 125px;
    -fx-min-height: 45px;
    -fx-pref-width: 125px;
    -fx-pref-height: 45px;
    -fx-font-weight: bold;
}