.default-color0.chart-pie {
  -fx-pie-color: #2e7d32;
  -fx-background-color: #2e7d32;
}

.default-color1.chart-pie {
  -fx-pie-color: #4caf50;
  -fx-background-color: #4caf50;
}

.default-color2.chart-pie {
  -fx-pie-color: #81c784;
  -fx-background-color: #81c784;
}

.default-color3.chart-pie {
  -fx-pie-color: #c8e6c9;
  -fx-background-color: #c8e6c9;
}

.default-color4.chart-pie {
  -fx-pie-color: #aed581;
  -fx-background-color: #aed581;
}

.chart {
  -fx-background-color: transparent;
}

.chart-content {
  -fx-padding: 10px;
}

/* .chart-legend {
  -fx-background-color: transparent;
} */
.chart-legend-item {
  -fx-text-fill: #333333;
  -fx-font-weight: bold;
  -fx-font-size: 12px;
}

.chart-title {
  -fx-text-fill: #092f12;
  -fx-font-size: 25px;
  -fx-font-weight: 700;
  /* -fx-padding: 10px; */
}
