.list-container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
}

.table-view {
    -fx-selection-bar-non-focused: transparent; 
}

.table-view {
    -fx-border-color: #a0a0a0;
    -fx-border-width: 0;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    /* -fx-min-height: 300; */
    /* -fx-max-height: 300; */
    -fx-fit-to-height: true;
    -fx-fixed-cell-size: 40px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-border-color: #10b981;
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-size: 45px;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #10b981;
    -fx-alignment: CENTER;
}

.table-view .filler {
    -fx-background-color: transparent;
    -fx-min-height: 45px;
    -fx-max-height: 45px;
    -fx-border-color: #10b981;
    -fx-border-width: 0 0 1 0;
}

.table-view:row-selection {
    -fx-fill: red;
}

.toolbar {
    -fx-padding: 5 5 10 5;
}

.cell {
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
    -fx-text-fill: #2a2a2a;
}

.button,
.columns-menu-button,
.choice-box,
.text-field {
    -fx-border-color: #a0a0a0;
    -fx-border-width: 1;
    -fx-background-color: white;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
}

.columns-menu-button:hover,
.choice-box:hover,
.text-field:hover {
    -fx-background-color: white;
    -fx-border-color: #10b981;
}

.columns-menu-button:focused,
.choice-box:focused,
.text-field:focused {
    -fx-background-color: white;
    -fx-border-color: #10b981;
}

.columns-menu-button .menu-item,
.choice-box .menu-item {
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-padding: 5px 10px;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.columns-menu-button .menu-item:focused,
.choice-box .menu-item:focused,
.columns-menu-button .menu-item:hover,
.choice-box .menu-item:hover {
    -fx-background-insets: 0;
    -fx-background-color: #10b981; 
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-padding: 5px 10px;
}

.choice-box .menu-item .label,
.columns-menu-button .menu-item .label {
    -fx-text-fill: #565656;
    /* -fx-opacity: 0.8; */
}

.columns-menu-button .check-menu-item:checked .label {
    -fx-font-weight: bold;
    /* -fx-text-fill: #10b981;  */
}

.columns-menu-button .check-menu-item:checked:focused > .left-container > .check,
.columns-menu-button .check-menu-item:checked:hover > .left-container > .check {
    -fx-background-color: white;
}

.choice-box .menu-item:checked .label {
    -fx-text-fill: #10b981; 
    -fx-font-weight: bold;
}

.choice-box .menu-item > .left-container > .radio {
    -fx-background-color: transparent;
    -fx-shape: null;
}

.columns-menu-button .menu-item:focused .label,
.choice-box .menu-item:focused .label,
.columns-menu-button .menu-item:hover .label,
.choice-box .menu-item:hover .label {
    -fx-text-fill: white;
}

.columns-menu-button .context-menu,
.choice-box .context-menu {
    -fx-background-radius: 14;
    -fx-border-radius: 14;
}

.separation-region {
    -fx-min-width: 2;
    -fx-max-width: 50;
}