#tableColumn1 {
    visibility: hidden;
    -fx-border: black;
}

.table-view {
    -fx-border-color: #a0a0a0;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
}

TableRow {
    visibility: hidden;
}